.formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .formHead {
    display: flex;
    justify-content: flex-start;

    p {
      text-align: left;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 0.5rem;

    input,
    select {
      border: 1px #0a62d5 solid;
      font-size: 14px;
      padding: 0.1rem;
      outline: none;
    }
  }
}
