.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
  align-items: center;
  padding: 0.5rem 0;

  .titre {
    background-color: #f1f1f1;
    padding: 0.4rem 0.7rem;
  }

  .filtre {
    display: flex;
    gap: 1rem;

    input {
      border: 1px #03236d solid;
      color: #03236d;
      outline: none;
      width: 450px;
      padding: 0.2rem 0.5rem;
    }
  }

  .btnAjout {
    button {
      text-decoration: none;
      background-color: #03236d;
      color: #fff;
      padding: 0.4rem 0.6rem;
      border: 1px #03236d solid;
    }

    button:hover {
      background-color: #0333a3;
      color: #fff;
      transition: 300ms;
    }
  }
}

.btnAction {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;

  button {
    border: transparent;
    background-color: transparent;
  }
}

.tableau-body {
  overflow: scroll;
  height: 540px;
  border: 1px solid #03236d;
  font-size: 14px;
}

.btnCtrl {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 1rem;
  align-items: flex-end;
  margin-top: 1rem;

  .btnPrecedent,
  .btnSuivant {
    color: #03236d;
    font-weight: 600;
    border: transparent;
    cursor: default;
  }

  .btnPrecedent:hover,
  .btnSuivant:hover {
    color: #03236d;
    transition: 300ms;
  }

  .pageActive {
    color: #d50a0a;
    font-weight: 500;
  }
}

.tableau-body-accueil-admin {
  overflow: scroll;
  height: 450px;
  border: 2px solid #03236d;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: #03236d;
  border-radius: 0.2rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #be0101;
}
