.head {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1.5rem;
  align-items: center;

  .titre {
    background-color: #f1f1f1;
    padding: 0.4rem 0.7rem;
    border-radius: 0.3rem;
  }

  .filtre {
    select {
      border: 1px #0a62d5 solid;
      color: #0a62d5;
      outline: none;
      width: 200px;
      padding: 0.2rem;
      border-radius: 0.3rem;
    }
  }

  // Pour le layout INSCRIPTION
  .filtreInscript {
    display: flex;
    gap: 1rem;

    select,
    input {
      border: 1px #03236d solid;
      color: #03236d;
      outline: none;
      width: auto;
      padding: 0.2rem 0.5rem;
      border-radius: 0.3rem;
    }

    input {
      width: 255px;
    }
  }

  .btnAjoutInscript {
    a {
      text-decoration: none;
      background-color: #03236d;
      color: #fff;
      padding: 0.4rem 0.6rem;
      border-radius: 0.3rem;
      border: 1px #03236d solid;
    }

    a:hover {
      background-color: transparent;
      color: #03236d;
      transition: 300ms;
    }
  }

  // Pour le layout CAISSE
  .btnAjout {
    a {
      text-decoration: none;
      background-color: #0a62d5;
      color: #fff;
      padding: 0.4rem 0.6rem;
      border-radius: 0.3rem;
      border: 1px #0a62d5 solid;
    }

    a:hover {
      background-color: transparent;
      color: #0a62d5;
      transition: 300ms;
    }
  }
}

.btnCtrl {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;

  .btnPrecedent,
  .btnSuivant {
    color: #4690f2;
    font-weight: 600;
    border: transparent;
    cursor: default;
  }

  .btnPrecedent:hover,
  .btnSuivant:hover {
    color: #0953b5;
    transition: 300ms;
  }

  .pageActive {
    color: #d50a0a;
    font-weight: 500;
  }
}

.btnCtrlInscript {
  display: inline-flex;
  width: 100%;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;

  .btnPrecedent,
  .btnSuivant {
    color: #03236d;
    font-weight: 600;
    border: transparent;
    cursor: default;
  }

  .btnPrecedent:hover,
  .btnSuivant:hover {
    color: #1c4fc5;
    transition: 300ms;
  }

  .pageActive {
    color: #d50a0a;
    font-weight: 500;
  }
}

.btnAction {
  display: flex;
  gap: 0.7rem;
  justify-content: center;
  align-items: center;
}
