.head {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;

  .titre {
    background-color: #e2e3e4;
    padding: 0.3rem;
    border-radius: 0.3rem;
  }

  .filtre {
    select {
      border: 2px #0a62d5 solid;
      color: #0a62d5;
      outline: none;
      width: 150px;
      padding: 0.2rem;
      border-radius: 0.3rem;
    }
  }
}
