.createPaiement {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 10rem;
  width: 100vw;
  height: 100vh;
  background-color: #f5f3f9;

  .createPaieHead {
    background-color: #6022f3;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 0 3rem;
    border-radius: 1rem;

    .userData {
      border-radius: 50%;
      border: 2px solid;
      .img {
        height: 100px;
        width: 100px;
        padding: 0.53rem;
        border-radius: 50%;
      }
    }
  }

  .createPaieBody {
    display: flex;
    gap: 1rem;

    .aside {
      width: 350px;
      background-color: #fff;
      padding: 1rem;
      border-radius: 0.8rem;
      height: 400px;
    }

    .contenu {
      background-color: #fff;
      border-radius: 1.5rem;
      width: 100%;
    }
  }
}
