.profil {
  display: flex;
  gap: 2rem;
  .img {
    img {
      height: 360px;
      width: 320px;
      border-radius: 1.5rem;
    }
  }

  .details {
    .email {
      font-weight: 600;
    }

    .bio {
      margin: 1rem 0;
      text-align: justify;
    }

    a {
      text-decoration: none;
      background-color: #0088ff;
      color: #fff;
      padding: 0.4rem;
      border-radius: 0.3rem;
    }

    a:hover {
      background-color: #036ecc;
      transition: 300ms;
    }
  }
}
